<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{meta_title}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}">

    {{ghost_head exclude="portal,cta_styles"}}
</head>
<body class="{{body_class}}">
    <div class="site-shell">
        {{> "site-header"}}
        <main class="site-main">
            {{{body}}}
        </main>
        {{> "site-footer"}}
    </div>

    <script src="{{asset "js/video-layout.js"}}" defer></script>
    {{ghost_foot}}
</body>
</html>
